<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ethan Massey - Software Engineer</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
        $(document).ready(function () {
            $('.parallax').parallax();
        });
    </script>
</head>
<body>
<nav class="light-blue darken-4" style="min-height: 80px; padding: 8px 50px 5px 50px;">
    <div class="nav-wrapper">
        <a href="http://massey.codes/" class="brand-logo">Ethan Massey</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="http://massey.codes/">Home</a></li>
            <li><a href="https://github.com/ethan-massey">GitHub</a></li>
            <li><a href="/documents/resume.pdf" target="_blank">Resume</a></li>
            <li><a href="http://massey.codes/contact">Contact</a></li>
        </ul>
    </div>
</nav>
<div class="parallax-container" style="height: 80vh; opacity: 0.6;">
    <div class="parallax">
        <img class="responsive-img" src="/images/some_code.png" style="filter: brightness(70%);"/>
    </div>
    <div class="overlay">
        <h2>Creative, Intuitive Solutions.</h2>
    </div>
</div>
<div class="section light-blue darken-4">
    <div class="row container">
        <div class="col s3" style="padding-top: 25px;">
            <img class="headshot" src="/images/face.png" alt="Avatar">
        </div>
        <div class="col s9">
            <h5 style="text-align: center;">print('Hello, World!')</h5>
            <p>Hey there! My name is Ethan Massey and I’m a software engineer studying at the University of Virginia. I
                love
                to learn new technologies and frameworks. One of my favorite things to do in my free time is to create
                personal projects, most of which you can find on my <a href="https://github.com/ethan-massey"
                                                                       target="_blank"
                                                                       style="color: aquamarine;">GitHub</a>.
            </p>
            <br>
            <p>I have a passion for problem solving. What drives me most is the feeling of finally completing a
                difficult task, and watching my code do what it’s been designed to do. I have a wide range of team
                development experience from the internships I participated in at MusicToday, HackCville, and Northrop
                Grumman.</p>
            <br>
            <p>More than anything, I think an engineer should be easy to work with. It’s no fun trying to communicate
                with your average, does-it-all-on-his-own, rogue computer hacker. I believe my greatest skill is
                listening to team members and customers, digesting ideas, and effectively communicating back.</p>
            <br>
            <p>In my free time, I play trumpet in the Charlottesville Symphony Orchestra, throw tennis balls to my
                German Shepherd Heisi, and cook shrimp tacos.</p>
        </div>
    </div>
</div>
<div class="parallax-container" style="height: 80vh;">
    <div class="parallax"><img class="responsive-img" src="/images/rotunda.jpg"></div>
    <div class="overlay rotunda-text">
        <h2>B.A. Computer Science</h2>
        <h2>B.A. Music</h2>
    </div>
</div>
<footer class="page-footer light-blue darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Thanks for visiting!</h5>
                <p class="grey-text text-lighten-4">Feel free to check out my GitHub profile or send me a message!</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Where to?</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/ethan-massey">GitHub</a></li>
                    <li><a class="grey-text text-lighten-3" target="_blank"
                           href="/documents/resume.pdf">Resume</a></li>
                    <li><a class="grey-text text-lighten-3" href="http://massey.codes/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 Ethan Massey
        </div>
    </div>
</footer>
</body>
</html>